:root {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.vertical-banner {
    /* flex-grow: 1; */
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    position: relative;
    background-size: cover;
    width: 30%;
    height: 900px;

}

.odin-banner {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 200px;
    background-color: black;
    opacity: 50%;
}

.footnote {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.85rem;
}

.user-interface {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    background-color:rgb(253, 252, 249);
    /* flex-grow: 2; */
}

.introduction {

}

.user-data{
    background-color: white;
}

.data-submission{

}

.introduction, .user-data, .data-submission{
    padding: 50px;
}

.footnote {
    color: white;
}