:root {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

.vertical-banner {
    /* flex-grow: 1; */
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 30%;
    height: 900px;

}

.user-interface {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    background-color:rgb(253, 252, 249);
    /* flex-grow: 2; */
}

.introduction {

}

.user-data{
    background-color: white;
}

.data-submission{

}

.introduction, .user-data, .data-submission{
    padding: 50px;
}

.footnote {
    color: white;
}